*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    padding: 20px 20px;
}

body {
    background-color: #f6f8f9;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 3rem;
}

main {
    height: 500px;
    margin: 50px 200px;
    background-color: white;
    border-radius: 8px;
}

hr {
    background-color: #f6f8f9;; 
    height: 3px; 
    border: 0;
}


#toboo-header-logo {
    width: 70px;
    vertical-align: middle;
}

.white-square-paddings {
    padding: 20px 60px;
}

.header-logo {
    display: inline-block;
    line-height: 70px;
    vertical-align: middle;

}

.buttons-section {
    margin-bottom: 10px;
}